extends layout
block content
    a(href="/admin" class="btn btn-info") <- Liste
    br
    br
    form(method="POST")
      .form-group
        label(for='title') Titre
        input#title.form-control(type='text' placeholder='Titre')
      .form-group
        label(for='text') Texte
        textarea#text.form-control(placeholder='Texte de l\'article')
      button.btn.btn-default(type='submit') Enregistrer