extends layout

block content
	a(href="/") <- retour accueil
	br 
	h1 mon titre d'article 
	time 2017-10-26
	br
	br
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.

