extends layout

block content
  h1 Bienvenue sur mon blog !
  
  article
    h2 mon titre d'article 
    time 2017-10-26
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    a(href="/article-1" class="btn btn-info") Voir plus 

  article
    h2 mon titre d'article 
    time 2017-10-26
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    a(href="/article-1" class="btn btn-info") Voir plus 